.item__close-button {
  background: url("../images/close.svg");
  position: absolute;
  border: none;
  top: 20px;
  right: 28px;
  height: 16px;
  width: 16px;
  z-index: 1;
  cursor: pointer;
}
.item__modal-content {
  background-color: white;
  position: relative;
  width: 496px;
  max-width: 100%;
  border-radius: 20px;
  padding: 24px;
  overflow-y: auto;
  max-height: calc(100% - 48px);
  padding-bottom: 112px;
}
.item__delete-button {
  font-family: "Cabinet Grotesk";
  color: #ff4d00;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 68px;
}
.weather__type-text {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  margin-top: 12px;
  line-height: 24px;
  font-weight: 700;
}
.item {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  line-height: 24px;
}
