.profile-sidebar {
  width: 229px;
  padding: 0 0 0 40px;
  margin: 0;
  margin-top: 47px;
}

.profile-sidebar__user-avatar {
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
}

.profile-sidebar__user-title {
  color: #000;
  font-size: 20px;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-left: 16px;
}

.profile-sidebar__info {
  justify-content: flex-start;
  width: 229px;
  height: 56px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.clothing-container {
  margin-left: 385px;
}
.edit-profile-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  margin-top: 24px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sign-out-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  margin-top: 8px;
}
.sidebar-profile-avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}
